.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login>img {
    width: 45%;
    padding: 0;

}

.login>a {
    padding: 20px;
    background-color: rgb(40, 157, 151);
    border-radius: 99px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}