.sidebarOption {
    display: flex;
    align-items: center;
    color: rgb(131, 193, 237);
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;

}

.sidebar>hr {
    border: 1px solid rgb(116, 114, 114);
    width: 95%;
    margin: 10px auto;
}

.sidebarOption__title {
    align-items: center;
}

.sidebarOption:hover {
    color: aliceblue;
}

.sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption>p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}